name: Build and Deploy FastAPI app to Google Cloud Run

on:
    push:
        branches: 
            - main

env:
  SERVICE_NAME: fastapi-iris-app
  REGION: us-central1
  REPOSITORY: fastapi-repo

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        
        steps:
            # 1. Checkout the repo
            - name: Checkout code
              uses: actions/checkout@v4
            
            # 2. Authenticate with GCP using service account
            - name: Authenticate with GCP
              uses: google-github-actions/auth@v1
              with:
                credentials_json: ${{ secrets.GCP_SA_KEY }}
            
            # 3. Install & Configure gcloud CLI
            - name: Set up gcloud
              uses: google-github-actions/setup-gcloud@v2
              with:
                project_id: ${{ secrets.GCP_PROJECT_ID }}
            
            # 4. Configure Docker Authentication
            - name: Configure Docker
              run: |
                gcloud auth configure-docker ${{ env.REGION }}-docker.pkg.dev

            # 5. Build Docker image
            - name: Build Docker image
              run: |
                $IMAGE_NAME="${{ env.REGION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/${{ env.REPOSITORY }}/${{ env.SERVICE_NAME }}:latest"
                echo "Building image: $IMAGE_NAME"
                docker build -t "$IMAGE_NAME" .
            
            # 6. Push Docker Image Artifact Registry
            - name: Push Docker image to AR
              run: |
                IMAGE="${{ env.REGION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/${{ env.REPOSITORY }}/${{ env.SERVICE_NAME }}:latest"
                docker push "$IMAGE"
            
            # 7. Deploy to Cloud Run
            - name: Deploy to Cloud Run
              run: |
                gcloud run deploy ${{ env.SERVICE_NAME }} \
                --image "${{ env.REGION }}-docker.pkg.dev/${{ secrets.GCP_PROJECT_ID }}/${{ env.REPOSITORY }}/${{ env.SERVICE_NAME }}:latest" \
                --region ${{ env.REGION }} \
                --platform managed \
                --allow-unauthenticated
            
            # Print failure message
            - name: Failed to Complete all Steps
              if: failure()
              run: echo "❌ Failed to complete all steps"
            
            # Print success message
            - name: The processes were successful
              run: echo "✅ Successfully built and deployed to Cloud Run"